/* 
    pp = página principal
    pc = página de cartas
    popup = pop-up
 */
body{
    font-family: 'Blinker', sans-serif;
    font-size: 1rem;
    background-color: #333;
}
.pp__contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    background: #333;
    color: #fffff3;
}
.pp__logo{
    margin: 0 auto;
}
.pp__players{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 100vw;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.player input{
    width: 300px;
    height: 50px;
    background-color: rgb(16, 80, 59);
    border-radius: 35px;
    outline: none;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    
}
.pp__btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.pp__btn button{
    width: 300px;
    height: 50px;
    background-color: aquamarine;
    color: #333;
    border-radius: 35px;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
}




/* Página de carga */

.pc__loading{
    display: none;
    align-items: center;
    justify-content: center;
    background: #333;
    width: 100vw;
    height: 100vh;
}
.pc__loading img{
    width: 150px;
}

/* Página de cartas */

.pc__contenedor{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /* justify-content: space-around; */
    width: 100vw;
    height: 100vh;
    background: #333;
    color: #fffff3;
}
.x{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 30px 30px 0 0;
}
.x img{
    width: 50px;
}
.carousel{
    display: flex;
    align-items: center;
    margin: 0 auto ;
    padding: 0 20px;
    background-color: #333;
    width: 100vw;
    height: 50vh;
}
.carousel-item img{
    object-fit: cover;
    height: 450px;
}
.descripciones{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 0 30px;
    text-align: center;
}
/* Pop-Up */

.popup{
    display: none;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin: 50px auto 0;
    padding: 80px;
    border: solid 1px #fffff3;
    border-radius: 15px;
    background-color: #333;
}
.popup button{
    padding: 30px;
    border-radius: 15px;
    background: #d1d112;
    color: #333;
}