
body{
    background-color: #253439;
    border: solid 5px #B29E84;
    
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__logo{
    width: 250px;
}
.header__title{
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 80px;
    color: #fffff3;
    
}
.line{
    border-bottom: solid 1px #B29E84;
    padding-bottom: 5px;
    width: 80%;
    height: 5px;
    margin: auto;
}
.listado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    margin-top: 50px;
    color: #fffff3;
}

.categoria{
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    padding-bottom: 30px;

}
.elemento{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 0 25px 10px;

}
.elemento__nombre{
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
}
.elemento__descripcion{
    font-family: 'Tenor Sans';
    font-size: 15px;
    padding: 5px 0 0 10px;
    letter-spacing: 1px;
}
.elemento__precio{
    font-family: 'Tenor Sans';
    font-size: 17px;
    padding-top: 10px;
    width: 80%;
    text-align: right;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
footer p{
    font-family: 'Tenor Sans';
    font-size: 10px;
    color: #fffff3;
}


/* ----------------------------------- */
.conatiner{
    height: 100vh;
}
.presentacion{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    color: #fffff3;
    font-family: 'Cormorant Garamond', serif;
    margin: 50px 0 ;
}
.presentacion h2{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}
.presentacion a{
    font-size: 30px;
    border: solid 1px #B29E84;
    color: #B29E84;
    padding: 5px 10px;
}
.contacto{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: #fffff3;
    font-family: 'Cormorant Garamond', serif;
    margin: 20px 0;
}
.contacto .bold{
 font-weight: bold;
}